<a href="https://colab.research.google.com/github/VrgiPramudya/algoritma-pemrograman-jobsheet01/blob/main/Galih_Virgi_Pramudya_Jobsheet_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 -  Pengenalan Variabel dan Tipe Data

In [ ]:
# Integer
umur = 20
print("Umur:", umur, "→", type(umur))

# Float
tinggi = 170.5
print("Tinggi:", tinggi, "→", type(tinggi))

# String
nama = "Andi"
print("Nama:", nama, "→", type(nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))

# Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "→", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# Set
hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "→", type(hobi))

Umur: 20 → <class 'int'>
Tinggi: 170.5 → <class 'float'>
Nama: Andi → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'olahraga', 'membaca', 'musik'} → <class 'set'>

#Praktikum 02 - Input dan Output Dasar

In [ ]:
# Input string
nama = input("Masukkan nama Anda: ")

# Input integer
umur = int(input("Masukkan umur Anda: "))

# Input float
tinggi = float(input("Masukkan tinggi badan (cm): "))

# Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

# Output dengan format()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: Virgi
Masukkan umur Anda: 18
Masukkan tinggi badan (cm): 170
Halo, Virgi umur Anda: 18 tahun, tinggi: 170.0 cm
Halo Virgi, umur Anda 18 tahun, tinggi 170.0 cm
Halo Virgi, umur Anda 18 tahun, tinggi 170.0 cm

#Praktikum 03 - Operator Aritmatika

In [ ]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

#Praktikum 04 - Operator Relasional

In [1]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

#Praktikum 05 - Operator Logika dengan Studi Kasus Nyata

In [3]:
# Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a	=", not a)

# Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
  print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a	= False
Masukkan nilai ujian: 70
Masukkan jumlah kehadiran: 11
Status: TIDAK LULUS

#Praktikum 06 - Program Kasir Sederhana

In [4]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

# Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Masukkan nama barang: Susu SGM
Masukkan harga barang: 650000
Masukkan jumlah barang: 1

===== Struk Belanja =====
Barang : Susu SGM
Jumlah : 1
Total : Rp 650000.0
Diskon : 20.0%
Bayar : Rp 520000.0

#Penugasan No. 3 - Identitas Mahasiswa

In [6]:
nama = "Galih Virgi"
umur = 18
tinggi = 170
status_aktif = True

print(f"Nama          : {nama}")
print(f"Umur          : {umur} tahun")
print(f"Tinggi Badan  : {tinggi} cm")
print(f"Status Aktif  : {status_aktif}")

Nama          : Galih Virgi
Umur          : 18 tahun
Tinggi Badan  : 170 cm
Status Aktif  : True

#Penugasan No. 4 - Operasi Aritmatika

In [7]:
a = int(input("Masukkan bilangan pertama: "))
b = int(input("Masukkan bilangan kedua: "))

print(f"{a} + {b} = {a + b}")
print(f"{a} - {b} = {a - b}")
print(f"{a} * {b} = {a * b}")
print(f"{a} / {b} = {a / b}")
print(f"{a} % {b} = {a % b}")
print(f"{a} ** {b} = {a ** b}")

Masukkan bilangan pertama: 12
Masukkan bilangan kedua: 4
12 + 4 = 16
12 - 4 = 8
12 * 4 = 48
12 / 4 = 3.0
12 % 4 = 0
12 ** 4 = 20736

#Penugasan No. 5 - Konversi Nilai

In [11]:
angka = float(input("Masukkan angka desimal: "))

print(f"Sebagai integer : {int(angka)}")
print(f"Sebagai string  : '{str(angka)}'")
print(f"Dibulatkan (2 digit): {round(angka, 2)}")

Masukkan angka desimal: 3.14159
Sebagai integer : 3
Sebagai string  : '3.14159'
Dibulatkan (2 digit): 3.14

#Penugasan No. 6 - Operator Relasional

In [12]:
x = float(input("Masukkan bilangan pertama: "))
y = float(input("Masukkan bilangan kedua: "))

print(f"{x} == {y} : {x == y}")
print(f"{x} != {y} : {x != y}")
print(f"{x} <  {y} : {x < y}")
print(f"{x} >  {y} : {x > y}")
print(f"{x} <= {y} : {x <= y}")
print(f"{x} >= {y} : {x >= y}")

Masukkan bilangan pertama: 15
Masukkan bilangan kedua: 17
15.0 == 17.0 : False
15.0 != 17.0 : True
15.0 <  17.0 : True
15.0 >  17.0 : False
15.0 <= 17.0 : True
15.0 >= 17.0 : False