<a href="https://colab.research.google.com/github/VrgiPramudya/algoritma-pemrograman-virgi/blob/main/Galih_Virgi_Pramudya_Jobsheet_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 - Tuple: Data Tetap yang Tidak Bisa Diubah

In [1]:
koordinat = (7.05, 110.44)

print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

#Praktikum 02 - Dictionary Dasar: Menyimpan Data Mahasiswa

In [3]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM :", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM : 20251001
Nama: Andi
Prodi: TRK

#Praktikum 03 - Operasi pada Dictionary

In [6]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20
mahasiswa["Prodi"] = "Teknik Komputer"
del mahasiswa["Umur"]

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

#Praktikum 04 - Set dan Operasi Himpunan

In [7]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

#Praktikum 05 - Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [8]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Matematika', 'Algoritma', 'Bahasa Inggris'}
Mata kuliah Mhs2: {'Matematika', 'Algoritma', 'Basis Data'}
Mata kuliah yang sama: {'Matematika', 'Algoritma'}

#Praktikum 06 - Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [9]:
nilai_mahasiswa = {
  "Andi": 80,
  "Budi": 75,
  "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

#Penugasan No. 3 - Tuple Sederhana

In [11]:
mahasiswa = ("Virgi", 18, "Teknologi Rekayasa Komputer")

print("Nama   :", mahasiswa[0])
print("Umur   :", mahasiswa[1])
print("Prodi  :", mahasiswa[2])

Nama   : Virgi
Umur   : 18
Prodi  : Teknologi Rekayasa Komputer

#Penugasan No. 4 - Tuple Tidak Bisa Diubah

In [12]:
angka = (1, 2, 3)

angka[0] = 10

print(angka)

TypeError: 'tuple' object does not support item assignment

#Penugasan No. 5 - Dictionary Dasar

In [13]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": 2021
}

print("Judul  :", buku["Judul"])
print("Penulis:", buku["Penulis"])
print("Tahun  :", buku["Tahun"])

Judul  : Algoritma
Penulis: Munir
Tahun  : 2021

#Penugasan No. 6 - Operasi Dictionary

In [15]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik komputer"
del dosen["Umur"]

print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik komputer'}

#Penugasan No. 7 - Set dan Himpunan

In [16]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union:", A | B)
print("Intersection", A & B)
print("Difference:", A - B)

Union: {'Matematika', 'Bahasa Inggris', 'Basis Data', 'Algoritma'}
Intersection {'Matematika', 'Algoritma'}
Difference: {'Bahasa Inggris'}

#Penugasan No. 8 - Studi Kasus Dictionary

In [17]:
nilai_mahasiswa = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai: 84.33

#Penugasan No. 9 - Studi Kasus Set : Klub Mahasiswa

In [21]:
A = {"Andi", "Budi", "Cici"}
B = {"Cici", "Deni", "Eka"}

print("Daftar seluruh anggota:", A | B)
print("Anggota di kedua klub:", A & B)
print("Anggota hanya di Klub A:", A - B)

Daftar seluruh anggota: {'Budi', 'Deni', 'Cici', 'Andi', 'Eka'}
Anggota di kedua klub: {'Cici'}
Anggota hanya di Klub A: {'Budi', 'Andi'}