<a href="https://colab.research.google.com/github/VrgiPramudya/algoritma-pemrograman-virgi/blob/main/Galih_Virgi_Pramudya_Jobsheet_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 - Membuat dan Mengakses List 1D

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]

print(mahasiswa[0])  # Andi
print(mahasiswa[1])  # Budi
print(mahasiswa[-1])  # Cici

Andi
Budi
Cici

#Praktikum 02 - Update dan Operasi Dasar List

In [ ]:
nilai = [85, 90, 78]

nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

#Praktikum 03 - Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]

print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

#Praktikum 04 - List 2D (Matriks)

In [ ]:
matriks = [
    [1, 2, 3],
	  [4, 5, 6],
	  [7, 8, 9]
]

print(matriks[0][0])
print(matriks[1][2])
print(matriks[2])

1
6
[7, 8, 9]

#Praktikum 05 - Operasi pada List 2D

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i][j] + B[i][j])
  C.append(baris)

print(C)

[[8, 10, 12], [14, 16, 18]]

#Praktikum 06 - Studi Kasus: Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris	in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

#Penugasan No. 3 - Akses Elemen List

In [1]:
nama_mahasiswa = ["Virgi", "Adit", "Tama", "Ridho", "Rhafi"]

print(nama_mahasiswa[0])
print(nama_mahasiswa[-1])
print(nama_mahasiswa[2])

Virgi
Rhafi
Tama

#Penugasan No. 4 - Operasi Dasar List

In [ ]:
nilai = [70, 75, 80]

nilai[1] = 85
nilai.append(90)
nilai.remove(70)

print(nilai)

[85, 80, 90]

#Penugasan No. 5 - Slicing List

In [ ]:
list_angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("3 elemen pertama:", list_angka[:3])
print("3 elemen terakhir:", list_angka[-3:])
print("Elemen dengan indeks genap:", list_angka[::2])

3 elemen pertama: [1, 2, 3]
3 elemen terakhir: [8, 9, 10]
Elemen dengan indeks genap: [1, 3, 5, 7, 9]

#Penugasan No. 6 - List 2D - Matriks

In [ ]:
matriks = [
    [1, 2 ,3],
    [4, 5, 6]
]

print(matriks[0][1])
print(matriks[1][2])
print(matriks[0])

2
6
[1, 2, 3]

#Penugasan No. 7 - Operasi Matriks 2D

In [ ]:
A = [
    [1, 2],
    [3, 4]
]

B = [
    [5, 6],
    [7, 8]
]

hasil = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i][j] + B[i][j])
  hasil.append(baris)

for baris in hasil:
    print(baris)

[6, 8]
[10, 12]

#Penugasan No. 8 - Rata-rata Nilai Mahasiswa

In [ ]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, baris	in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 80.00
Rata-rata mahasiswa 2: 65.00
Rata-rata mahasiswa 3: 92.33

#Penugasan No. 9 - Studi Kasus : Data Toko

In [ ]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

for barang in stok:
    print(f"{barang[0]} : {barang[1]} unit")

terbanyak_nama = stok[0][0]
terbanyak_jumlah = stok[0][1]

for barang in stok:
    if barang[1] > terbanyak_jumlah:
        terbanyak_nama = barang[0]
        terbanyak_jumlah = barang[1]

print("\nBarang dengan stok terbanyak:")
print(f"{terbanyak_nama} ({terbanyak_jumlah} unit)")

Buku : 20 unit
Pulpen : 35 unit
Penghapus : 15 unit

Barang dengan stok terbanyak:
Pulpen (35 unit)