<a href="https://colab.research.google.com/github/VrgiPramudya/algoritma-pemrograman-virgi/blob/main/Galih_Virgi_Pramudya_Jobsheet_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 - Perulangan For dengan Range

In [14]:
for i in range(1, 5):
  print(i)

1
2
3
4

#Praktikum 02 - Perulangan While

In [4]:
n = int(input("Masukkan angka: "))
while n > 0:
  print(n)
  n -= 1

Masukkan angka: 5
5
4
3
2
1

#Praktikum 03 - Nested Loop (Segitiga Bintang)

In [17]:
for i in range(1, 5):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****

#Praktikum 04 - Break dan Continue

In [19]:
#BREAK

for i in range(1, 10):
  if i == 5:
    print("Angka 5 ditemukan")
    break

Angka 5 ditemukan

In [20]:
#CONTINUE

for i in range(1, 5):
  if i % 2 == 1:
    continue
  print(i)

2
4

#Praktikum 05 - For pada Dictionary

In [8]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

#Praktikum 06 - For dengan Enumerate

In [9]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

#Praktikum 07 - Studi Kasus: Program Kasir Multi-Item

In [16]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

#Penugasan No. 3 - Menampilkan Deret Angka

In [46]:
for i in range(3, 30, 3):
  print(i, end=" ")

3 6 9 12 15 18 21 24 27

#Penugasa No. 4 - Hitung Faktorial

In [23]:
n = int(input("Masukkan bilangan: "))

faktorial = 1
i = 1

while i <= n:
  faktorial *= i
  i += 1

print(f"Faktorial dari {n} adalah {faktorial}")

Masukkan bilangan: 6
Faktorial dari 6 adalah 720

#Penugasan No. 5 - Pola Segitiga Terbalik

In [25]:
for i in range(5, 0, -1):
  for j in range(i):
    print("*", end="")
  print()

*****
****
***
**
*

#Penugasan No. 6 - Cari Bilangan Prima dengan Break

In [48]:
n = int(input("Masukkan bilangan: "))

if n > 1:
  is_prima = True

  i = 2
  while i < n:
    if n % i == 0:
      is_prima = False
      break
    i += 1

  if is_prima:
    print(f"{n} adalah bilangan prima.")
  else:
    print(f"{n} bukan bilangan prima.")
else:
  print(f"{n} bukan bilangan prima (karena kurang dari 2).")

Masukkan bilangan: 7
7 adalah bilangan prima.

#Penugasan No. 7 - Tampilkan Hanya Bilangan Genap dengan Continue

In [32]:
for i in range(1, 20):
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18

#Penugasan No. 8 - Iterasi Dictionary Mahasiswa

In [49]:
mahasiswa = {
    "Nama": "Budi",
    "Umur": 21,
    "Prodi": "Teknik Komputer"
}

for k, v  in mahasiswa.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

#Penugasan No. 9 - Enumerate Daftar Barang

In [37]:
daftarbarang = [
    "Buku",
    "Pulpen",
    "Tas"
]

for i, barang in enumerate(daftarbarang, start=1):
  print(i, barang)

1 Buku
2 Pulpen
3 Tas

#Penugasan No. 10 - Studi Kasus - Kasir Diskon

In [44]:
print("=== Program Kasir Sederhana ===")
print("Ketik 'selesai' jika sudah tidak ada barang.\n")

total = 0

while True:
    namabarang = input("Masukkan nama barang: ")

    if namabarang.lower() == "selesai":
        break

    harga = int(input(f"Masukkan harga {namabarang}: "))
    jumlah = int(input(f"Masukkan jumlah {namabarang}: "))

    subtotal = harga * jumlah
    total += subtotal

    print(f"Subtotal {namabarang}: Rp{subtotal:,}\n")

if total >= 200000:
    diskon = total * 0.10
else:
    diskon = 0

total_bayar = total - diskon

print("\n=== STRUK BELANJA ===")
print("-" * 40)
print(f"Total belanja : Rp{total:,}")
print(f"Diskon (10%)  : Rp{diskon:,}")
print(f"Total bayar   : Rp{total_bayar:,}")
print("\nTerima kasih sudah berbelanja!\n")

=== Program Kasir Sederhana ===
Ketik 'selesai' jika sudah tidak ada barang.

Masukkan nama barang: Sepatu
Masukkan harga Sepatu: 300000
Masukkan jumlah Sepatu: 2
Subtotal Sepatu: Rp600,000

Masukkan nama barang: Tas
Masukkan harga Tas: 200000
Masukkan jumlah Tas: 1
Subtotal Tas: Rp200,000

Masukkan nama barang: selesai

=== STRUK BELANJA ===
----------------------------------------
Total belanja : Rp800,000
Diskon (10%)  : Rp80,000.0
Total bayar   : Rp720,000.0

Terima kasih sudah berbelanja!